body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
#name{
    margin: 8%;
}
.top{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
}
.middle{
    background-image: url("biography-bg.png");
    background-repeat:no-repeat;
    background-position: right;
    height: 600px;
}
.last{
    background-image: url("footer-bg.png");
}



.highlight{
    color: brown;
    font-size: 40px;
    
}
p{
    color: cornflowerblue;
    margin-bottom: 40px;
    text-align: justify;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(50deg,blue,aqua);
    border-radius: 7px;
    
    padding: 5px 10px;
    color: burlywood;
    font-size: 25px;
}
.top-part{
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-left: 5%;
    padding-left: 3%;
}
.top-part img{
    width: 100%;
    float: right;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 100px;

}
.middle-part img{
    width: 100%;
    float: right;
    }

.middle-part{
    width: 30%;
    margin-top: 20px;
    margin-left: 5%;
    padding-left: 90px;
    float: left;
}
.last-heading{
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}
.work-image{
    width: 30%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    float: left;
    
}
.work-image img{
    width: 100%;
}
.conclusion{
    text-align: center;
    margin-top: 100px;
}
h4{
    color:dimgray;
}
.email-part{
    width:50%;
    margin-left: 300px;
    padding: 40px;
    border: 0px solid pink;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(187, 18, 46, 0.521);
    position: relative;
}
footer{
    text-align: center;
    margin-bottom:40px;
}



